.glass-card {
  background: rgba(79, 77, 77, 0.18);
  backdrop-filter: blur(27px);
  -webkit-backdrop-filter: blur(27px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}
/* Hide scrollbar but keep scrollable */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer */
  scrollbar-width: none; /* for Firefox */
}
